# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

Create a tuple with the first 10 positive integers. Print the tuple.

In [9]:
Tup=tuple(range(1,11))
print(Tup)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [10]:
print(f"First Element {Tup[0]}")
print(f"Middle Element {len(Tup)//2}")
print(f"First Element {Tup[-1]}")

First Element 1
Middle Element 5
First Element 10

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [19]:
print(f"First Element {Tup[:3]}")
print(f"Middle Element {Tup[2:6]}")
print(f"First Element {Tup[-3:]}")

First Element (1, 2, 3)
Middle Element (3, 4, 5, 6)
First Element (8, 9, 10)

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [25]:
TUP=((1,2,3),(4,5,6),(7,8,9))
print(f"{TUP}")
print(f"The element at the second row and third column is: {TUP[1][2]}")

((1, 2, 3), (4, 5, 6), (7, 8, 9))
The element at the second row and third column is: 6

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [33]:
TUP1=(1,2,3)
TUP2=(4,5,6)
concatenate=TUP1+TUP2
print(f"The concatination is: {concatenate}")

The concatination is: (1, 2, 3, 4, 5, 6)

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [36]:
tup=(1,2,34,4,5,6,556,31,5,321,32321,2132,321,5,1,232,132,13,5,132,13,15,123,1,2315,1,23,135,14,5,23,1165)
Count=tup.count(1165)
print(Count)

1

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [40]:
print(Tup)
a,b,c,d,e,f,g,h,i,j=Tup
print(a,b,c,d,e,f,g,h,i,j)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
1 2 3 4 5 6 7 8 9 10

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [44]:
lst=[1,2,3,5,6]
print(tuple(lst))

(1, 2, 3, 5, 6)

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [45]:
tup=((2,3,4),(1,5,6),(7,9,0))
print(tup)

((2, 3, 4), (1, 5, 6), (7, 9, 0))


Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [55]:
TuP=(range(1,6))
lst=list(TuP)
lst.append(6)
print(lst)
TuP=tuple(lst)
print(TuP)

[1, 2, 3, 4, 5, 6]
(1, 2, 3, 4, 5, 6)

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [59]:
TUP1=(" a")
TUP2="Yash"
fb=TUP2+TUP1
print(fb)

Yash a

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [63]:
Am=((1,2,4,5),(3,4,4324,2),(2.1,324,3242,22))
for a in Am:
    for x in a:
        print(x)
    print()

1
2
4
5

3
4
4324
2

2.1
324
3242
22

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.